<div>
    <h2>Angular Playground GH</h2>
</div>
<div><button routerLink="/home">Home</button></div>

<br>
<div class="flex-container">
    <div><button routerLink="/feature1/firstComp">Feature1 first Comp</button></div>
    <div><button routerLink="/feature1/secondComp">Feature1 second Comp</button></div>
    <div><button routerLink="/feature2/thirdComp">Feature2 third Comp</button></div>
    <div><button routerLink="/feature2/fourthComp">Feature2 fourth Comp</button></div>
</div>

<router-outlet></router-outlet>