<br>
<div class="flex-container">
    <div><button mat-raised-button color="primary" title="Share replay and async pipe - Lodash & Moment Lib"
            routerLink="/feature1/firstComp">Feature1 - Component1</button></div>
    <div><button mat-raised-button color="primary" title="Custom directives and custom pipes"
            routerLink="/feature1/secondComp">Feature1 - Component2</button>
    </div>
    <div><button mat-raised-button color="primary" title="Lodash Memoize and Custom Memoization"
            routerLink="/feature2/thirdComp">Feature2 - Component3</button>
    </div>
    <div><button mat-raised-button color="primary" title="Chained Array Operators"
            routerLink="/feature2/fourthComp">Feature2 - Component4</button>
    </div>
    <div><button mat-raised-button color="primary" title="Infinite Scroll" routerLink="/feature3/fifthComp">Feature3
            - Component5</button>
    </div>
    <div><button mat-raised-button color="primary" title="RxJS observable subjects operators"
            routerLink="/feature3/sixthComp">Feature3 - Component6</button>
    </div>

    <div><button mat-raised-button color="primary" title="Template Driven Forms"
            routerLink="/feature4/seventhComp">Feature4 -
            Component7</button>
    </div>

    <div><button mat-raised-button color="primary" title="Reactive Forms" routerLink="/feature4/eigthComp">Feature4
            -
            Component8</button>
    </div>

    <div><button mat-raised-button color="primary" title="xx" routerLink="/feature5/ninthComp">Feature5 -
            Component9</button>
    </div>

    <div><button mat-raised-button color="primary" title="xx" routerLink="/feature5/tenthComp">Feature5 -
            Component10</button>
    </div>

    <div><button mat-raised-button color="primary" title="Parent Comp" routerLink="/feature1/parentComp">Parent
            Comp</button>
    </div>

    <div><button mat-raised-button color="primary" title="Child Comp" routerLink="/feature1/parentComp/childComp">Child
            Comp</button>
    </div>
</div>


<div>
    <h3>Other featuers Developed in the Application:</h3>
    <p>1. Lazy Loading</p>
    <p>2. Preloading with ngx-quicklink and ngx-hover-preload</p>
    <p>3. Http Interceptor</p>
    <p>4. Common Loading Indicator</p>
    <p title="source-map-explorer docs\main.df360cdf4bad546f.js">5. Source Map Explorer</p>
</div>
<br>
<h1>
    Web Development POC Projects
</h1>
<br>
<nav>
    <ul>
        <li><a routerLink="/browserstorage" routerLinkActive="inactive">Browser Storage Example</a></li>
        <li><a routerLink="/dbstorage" routerLinkActive="inactive">Database Storage Example</a></li>
        <li><a routerLink="/uploadfile" routerLinkActive="inactive">Upload File Example</a></li>
        <li><a routerLink="/parentComponent" routerLinkActive="inactive">Parent Component</a></li>
        <li><a routerLink="/nonChildComponent" routerLinkActive="inactive">Non Child Component</a></li>
        <li><a routerLink="/observable" routerLinkActive="inactive">Observable Component</a></li>
        <li><a routerLink="/observable-operators" routerLinkActive="inactive">Observable Operators Component</a></li>
        <li><a routerLink="/subject" routerLinkActive="inactive">Subject Component</a></li>
        <li><a routerLink="/behavior-subject" routerLinkActive="inactive">Behavior Subject Component</a></li>
        <li><a routerLink="/replay-subject" routerLinkActive="inactive">Replay Subject Component </a></li>
        <li><a routerLink="/reactive-forms" routerLinkActive="inactive">Reactive Forms </a></li>
        <li><a routerLink="/template-driven-forms" routerLinkActive="inactive">Template Driven Forms</a></li>
        <li><a routerLink="/main" routerLinkActive="inactive">Main Component</a></li>
    </ul>
</nav>